
		<!DOCTYPE html>
			<html>
				<head>
					<title>{{ page.title }}</title>
					<!-- link to main stylesheet -->
					<link rel="stylesheet" type="text/css" href="https://moar82.github.io/SERP4IoT/css/main.css">
				</head>
				<body>
					<nav>
						<ul>
						<li><a href="https://moar82.github.io/SERP4IoT/past_editions/2024">Home</a></li>        		
						<li><a href="https://moar82.github.io/SERP4IoT/past_editions/2024/cpapers">Call for papers</a></li>
					<li><a href="https://moar82.github.io/SERP4IoT/past_editions/2024/sb">Submissions</a></li>
					<li><a href="https://moar82.github.io/SERP4IoT/past_editions/2024/aprogram">Keynotes</a></li>
					<li><a href="https://moar82.github.io/SERP4IoT/past_editions/2024/apapers">Accepted papers</a></li>
					<li><a href="https://moar82.github.io/SERP4IoT/past_editions/2024/program">Program</a></li>
					<li><a href="https://moar82.github.io/SERP4IoT/past_editions/2024/Committees">Committees</a></li>         
					<li><a href="https://moar82.github.io/SERP4IoT/past_editions/2024/attending">Attending</a></li>
					<li><a href=https://moar82.github.io/SERP4IoT/>Current edition</a></li>
						</ul>
					</nav>
					<div class="container">
					
					{{ content }}
					
					</div><!-- /.container -->
					<footer>
						<ul>
							<li>Contact: serp4iot[at]gmail[dot]com</li>
						<li>Twitter: <a href=https://twitter.com/serp4iot target=_blank> @serp4iot </a> </li>
						</ul>
					</footer>
				</body>
			</html>

