<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="https://moar82.github.io/SERP4IoT/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        	<li><a href="https://moar82.github.io/SERP4IoT/">Home</a></li>        		
        		<li><a href="https://moar82.github.io/SERP4IoT/cpapers">Call for papers</a></li>
				<li><a href="https://moar82.github.io/SERP4IoT/sb">Submission guidelines</a></li>
				<li><a href="https://moar82.github.io/SERP4IoT/aprogram">Keynotes</a></li>
				<li><a href="https://moar82.github.io/SERP4IoT/program">Program</a></li>
				<li><a href="https://moar82.github.io/SERP4IoT/Committees">Committees</a></li>
            <!--  <li><a href="https://moar82.github.io/SERP4IoT/idates">Important dates</a></li> -->           
			<!-- <li><a href="https://moar82.github.io/SERP4IoT/attending">Attending</a></li> -->
				<li><a href="https://moar82.github.io/SERP4IoT/past_editions">Past editions</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>Contact: serp4iot[at]gmail[dot]com</li>
				<li>X: <a href=https://twitter.com/serp4iot target=_blank> @serp4iot </a> </li>
				</ul>
			</footer>
		</body>
	</html>
